/*-- access-list start --*/
.access-list {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.access-list-title {
    width: inherit;
    height: 40px;
    text-align: center;
}
.access-list-title > span {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
.access-list-table {
    margin-top: 15px;
    width: 1000px;
}
.access-list-link {
    margin-top: 10px;
    width: 1000px;
    text-align: right;
}
.access-list-link a {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    padding-left: 20px;
}
/*-- access-list end --*/

/*-- access-register start --*/
.access-register {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.access-register-title {
    width: inherit;
    height: 40px;
    text-align: center;
}
.access-register-title > span {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
.access-register-form{
    width: inherit;
    height: auto;
}
.access-register-table {
    margin-top: 15px;
    width: 1000px;
}
.access-register-table tr {
    height: 50px;
}
.access-register-table th {
    width: 150px;
    font-size: 16px;
}
.access-register-table td {
    width: 850px;
}
.access-register-table td > input {
    width: 850px;
}
.access-register-table td > input[type=radio] {
    width: 20px;
}
.access-register-link {
    margin-top: 10px;
    width: 1000px;
    text-align: right;
}
.access-register-link a {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    padding-left: 20px;
}
.access-register-error-msg {
    margin-top: 10px;
    width: 1000px;
    text-align: right;
}
.access-register-error-msg > span {
    font-size: 14px;
    color: #FF0000;
}
/*-- access-register end --*/